In [2]:
#1)a)
list1=[1,2,3,4]
total=0
for i in range(len(list1)):
    total+=list1[i]
print(total)

10

In [3]:
#1)b)
product=1
for i in range(len(list1)):
    product*=list1[i]
print(product)

24

In [20]:
#1)c)
list2=[10,1,20,3,40]
for i in range(len(list2)-1):
    if (list2[i+1]<list2[i]):
        temp=list2[i+1]
        list2[i+1]=list2[i]
        list2[i]=temp
largest=list2[len(list2)-1]
print(largest)

40

In [22]:
#1)d)
for i in range(len(list2)-1):
    if (list2[i+1]>list2[i]):
        temp=list2[i+1]
        list2[i+1]=list2[i]
        list2[i]=temp
smallest=list2[len(list2)-1]
print(smallest)

1

In [21]:
# #2
A=['abc','xyz','aba','1221']
for i in range(len(A)):
    if ((A[i])[0]==(A[i])[len(A[i])-1]):
            print("The first and last characters of the string",A[i],"with index",i,"are identical")

The first and last characters of the string aba with index 2 are identical
The first and last characters of the string 1221 with index 3 are identical

In [14]:
#3)a)
n=5
a= 65
for i in range(0,n):
    print(" " * (n-i),end="")
    for j in range(0,i+1):
        print(chr(a),end=" ")
        a+= 1
    a= 65
    print("")
#3)b)
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
    print("")

     A
    A B
   A B C
  A B C D
 A B C D E
*
**
***
****
*****

In [2]:
# #4
ListColour= ["Black", "Red", "Maroon", "Yellow"]
colournumber=["000000", "FF0000","800000", "FFFF00"]
    
diction_list=[]
for i in range(len(ListColour)):
    diction_list.append({'colorname':ListColour[i],'colorcode':colournumber[i]})
print(diction_list)

[{'colorname': 'Black', 'colorcode': '000000'}, {'colorname': 'Red', 'colorcode': 'FF0000'}, {'colorname': 'Maroon', 'colorcode': '800000'}, {'colorname': 'Yellow', 'colorcode': 'FFFF00'}]

In [53]:
#5)a)
sq1=[]
for i in range(0,51,2):
    sq1.append((i,i**2))
print("Even number and their squares in the range(1,50): ",sq1)
#5)b)
sq2=[]
for i in range(0,101,2):
    sq2.append((i,i**2))
print("Even number and their squares in the range(1,100): ",sq2)

Even number and their squares in the range(1,50):  [(0, 0), (2, 4), (4, 16), (6, 36), (8, 64), (10, 100), (12, 144), (14, 196), (16, 256), (18, 324), (20, 400), (22, 484), (24, 576), (26, 676), (28, 784), (30, 900), (32, 1024), (34, 1156), (36, 1296), (38, 1444), (40, 1600), (42, 1764), (44, 1936), (46, 2116), (48, 2304), (50, 2500)]
Even number and their squares in the range(1,100):  [(0, 0), (2, 4), (4, 16), (6, 36), (8, 64), (10, 100), (12, 144), (14, 196), (16, 256), (18, 324), (20, 400), (22, 484), (24, 576), (26, 676), (28, 784), (30, 900), (32, 1024), (34, 1156), (36, 1296), (38, 1444), (40, 1600), (42, 1764), (44, 1936), (46, 2116), (48, 2304), (50, 2500), (52, 2704), (54, 2916), (56, 3136), (58, 3364), (60, 3600), (62, 3844), (64, 4096), (66, 4356), (68, 4624), (70, 4900), (72, 5184), (74, 5476), (76, 5776), (78, 6084), (80, 6400), (82, 6724), (84, 7056), (86, 7396), (88, 7744), (90, 8100), (92, 8464), (94, 8836), (96, 9216), (98, 9604), (100, 10000)]

In [23]:
#6)a)
num=13456
total=0
while(num>0):
    digit=num%10
    num=int(num/10)
    total+=digit
print("The sum of digits is",total)

#6)b)
num=13456
reverse=0
while(num>0):
    digit=num%10
    reverse = reverse * 10 + digit
    num=int(num/10)
print("The reversed number is",reverse)

The sum of digits is 19
The reversed number is 65431

In [47]:
#7
def area():
    a=float(input("Enter side a: "))
    b=float(input("Enter side b: "))
    c=float(input("Enter side c: "))
    s=(a+b+c)/2
    if ((s-a)*(s-b)*(s-c)>=0):
         return (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        return "Invalid side"

In [48]:
area1=area()
print("Area of triangle 1 is ", area1)
area2=area()
print("Area of triangle 2 is ", area2)

Enter side a: 2
Enter side b: 3
Enter side c: 4
Area of triangle 1 is  2.9047375096555625
Enter side a: 5
Enter side b: 6
Enter side c: 3
Area of triangle 2 is  7.483314773547883

In [52]:
total=area1+area2
print("Contribution of triangle 1 towards the total area is",round((area1/total)*100,2),"%")
print("Contribution of triangle 2 towards the total area is ",round((area2/total)*100,2),"%")

Contribution of triangle 1 towards the total area is 27.96 %
Contribution of triangle 2 towards the total area is  72.04 %

In [3]:
#8
people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "O+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "O-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
]
for i in people:
    print(f"Name: {i['name']}")
    print(f"Age: {i['age']}")
    print(f"Blood Group: {i['blood_group']}")
    print("-"*15)

Name: John Doe
Age: 30
Blood Group: A+
---------------
Name: Jane Smith
Age: 25
Blood Group: B-
---------------
Name: Emily Davis
Age: 40
Blood Group: O+
---------------
Name: Michael Brown
Age: 35
Blood Group: AB-
---------------
Name: William Johnson
Age: 28
Blood Group: A-
---------------
Name: Emma Wilson
Age: 22
Blood Group: B+
---------------
Name: Oliver Martinez
Age: 33
Blood Group: O-
---------------
Name: Sophia Anderson
Age: 27
Blood Group: AB+
---------------
Name: James Thomas
Age: 45
Blood Group: A+
---------------
Name: Isabella Lee
Age: 38
Blood Group: B-
---------------

In [53]:
#9
A=("python","learn","includehelp")
temp=[]
for i in range(len(A)):
    temp.append((A[i])[len(A[i])-1])
print(temp)

['n', 'n', 'p']

In [80]:
#10
months=['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'September', 'October', 'November', 'December']

In [81]:
def days():
    month=str(input("Enter month: "))
    year=int(input("Enter year: "))
    for i in months:
        if (month.lower()==i.lower()):
            ind=months.index(i)
            if (ind==0 or ind==2 or ind==4 or ind==6 or ind==7 or ind==9 or ind==11):
                print("Number of days in ",i,"is 31")
            elif (ind==1) and (year%4==0):
                print("Number of days in ",i,"is 29")
            elif (ind==1) and (year%4!=0):
                print("Number of days in ",i,"is 28")
            else:
                print("Number of days in ",i,"is 30")

In [84]:
days()

Enter month: february
Enter year: 2024
Number of days in  February is 29